doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="简单的文件server")
        title 简单的文件server
        link(rel="stylesheet" href="./index.css" type="text/css")
    body
        div(class="top-box")
            input(type="file" class="inputFile")
            button(class="btnSubmit") 上传
            button(class="btnCancel") 取消
            span &nbsp;&nbsp
            span(class="info")
        hr
        div(class="bottom-box")
            table
                for file in fileInfo
                    tr
                        td(width="60%")
                            a(href=file.link class=file.type) !{file.name}
                        td(width="20%") !{file.size}
                        td(width="20%") !{file.updateTime}
script(type="text/javascript" src="./index.js")              
                